$fontColor: #4e5064;

$bgColor: #3B3B3B;

$fontDescColor: rgba(37, 37, 37, 0.5);

$margin12: 12px;

$margin24: 24px;

$pramary-1: #ffd803;

$pramary-2: #F3B2B0;

$pramary-3: #DC7471;

$pramary-4: #bae8e8;

$pramary-5: #eb9a04;

